const Sequelize = require('sequelize');

module.exports = {
    name: '',
    user: '',
    pass: '',
    options: {
        dialect: 'postgres',
        protocol: 'postgres',
        host: '',
        dialectOptions: {
            ssl: true
        },
        port: ,
        retry: {
            match: [
                Sequelize.TimeoutError,
                Sequelize.ConnectionError,
                Sequelize.ConnectionTimedOutError
            ],
            max: 3
        }
    }
};
