{% set title = "Strava" %}
{% extends "html.njk" %}

{% block body %}
<div class="h-card">
  <img class="u-photo" alt="photo of {{ data.firstname }}"
       src="{{ data.profile }}"/>
  <div class="p-name">{{ data.firstname }} {{ data.lastname }}</div>
  <p class="p-sex">{{ data.gender }}</p>
  <p class="p-adr">
    <span class="p-locality">{{ data.city }}</span>,
    <span class="p-region">{{ data.state }}</span>,
    <span class="p-country-name">{{ data.country }}</span>
  </p>
</div>

<form method="POST" action="/deauthorize">
<input type="submit" value="Deauthorize" />
</form>
</form>
{% endblock %}