{% set title = "Strava" %}
{% extends "html.njk" %}

{% block body %}
<div class="h-card">
  <img class="u-photo" alt="photo of {{ athlete.firstname }}"
       src="{{ athlete.profileImageUrl }}"/>
  <div class="p-name">{{ athlete.firstname }} {{ athlete.lastname }}</div>
</div>

<form method="POST" action="/deauthorize">
<input type="submit" value="Deauthorize" />
</form>

<div>
{%if isFetching %}
<p><strong>Still fetching data. <a href="/">Refresh page in a few seconds see new activities</a>.</strong></p>
{% endif %}
<p>Total Activities: {{ activityCount }}</p>
<table>
<th>Activity Type</th><th>Eddington Number</th>
{% for number in eddingtonNumbers %}
<tr>
<td>{{ number.type }}</td>
<td>{{ number.eNum }}</td>
</tr>
{% endfor %}
</table>
</div>

<pre>{{ activities | dump }}</pre>
{% endblock %}