<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body class="{{ bodyClasses }}">
{% block body %}{% endblock %}
</body>
</html>