{% set title = "Strava" %}
{% extends "html.njk" %}

{% block body %}
<a href="{{ stravaAuthUrl }}">Authed!</a>

<form method="POST" action="/deauthorize">
<input type="submit" value="Deauthorize" />
</form>
</form>
{% endblock %}