{% set title = "Login" %}
{% set bodyClasses = "layout-login" %}

{% extends "html.njk" %}

{% block body %}
<div class="intro">
    <h1>Calculate Your Eddington Number</h1>
    <p>Your Eddington Number is the largest number that you have run/biked/etc at least 
    that many miles on at least that many different days.
    <p>Connect with Strava to calculate your Eddington Numbers from your activities.
    <a href="{{ stravaAuthUrl }}" class="strava-connect">Connect with Strava</a>
    <p>Lorem ipsum dolor sit amet, consectetur amet.
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis metus.
</div>
{% endblock %}