{% set contentClasses = "layout-home" %}
{% extends "html.njk" %}

{% block body %}

<div class="h-card athlete">
  <img class="u-photo athlete-image" alt="photo of {{ athlete.firstname }}"
       src="{{ athlete.profileImageUrl }}"/>
  <div><span class="p-name athlete-name">{{ athlete.firstname }} {{ athlete.lastname }}</span> | <a href="{{ athlete.stravaUrl }}" class="u-url athlete-stravalink">View on Strava</a></div>
  {% if isLoggedInAthlete %}
  <div><a href="/account">Settings</a></div>
  <div class="athlete-privacynote">    
    {% if athlete.isPublic === true %}
      <p><small>Your Eddington Numbers page is Public. You can share this page URL with&nbsp;others.</small><p><small> You can make your Eddington Numbers page Private in&nbsp;<a href="/account/settings">settings</a>.</small>
    {% endif %}
    {% if athlete.isPublic === false %}
      <p><small>Your Eddington Numbers page is&nbsp;Private.</small><p><small> If you would like to share this page with others, change your Eddington Numbers page to Public in&nbsp;<a href="/account/settings">settings</a>.</small>
    {% endif %}
  </div>
  {% endif %}
</div>



<div class="eddington">
<h1>Lifetime Eddington Numbers</h1>
{%if athlete.isFetching %}
<p><strong>Still fetching data. <a href="/">Try refreshing the page in a few seconds</a>. First data fetches can take a while if you have a lot of activities.</strong></p>
{% endif %}
<p class="eddington-count">Total Activities: {{ activityCount }}</p>
{% if eddingtonNumbers.length > 0 %}
<ul class="eddington-list">
{% for activity in eddingtonNumbers | sort(true, false, 'eNum') %}
<li class="eddington-list-item">
<div class="eddington-list-item-type">{{ activity.type }}</div>
<div class="eddington-list-item-enum">{{ activity.eNum }}</div>
{% if activity.nextENumDelta === 1 %}
{% set dayUnit = "day" %}
{% else %}
{% set dayUnit = "days" %}
{% endif %}

<div class="eddington-list-item-next"><strong>{{ activity.nextENumDelta }} more</strong> {{ dayUnit }} of {{ activity.nextENum }}+ miles to get to {{ activity.nextENum }}</div>
</li>
{% endfor %}
</ul>
{% else %}
<p>No activities found.</p>
{% endif %}
<p><a href="/eddington">More about Eddington Numbers</a></p>
</div>

{% endblock %}